<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eru.myapps.loboroutes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewRoute"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RouteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewLocusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocusActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ExtraPicActivity"></activity>
    </application>

</manifest>